apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: {{ name }}
  ports:
  {% for port in deployment.ports %}
    - protocol: TCP
      port: 80
      targetPort: {{ port }}
  {% endfor %}
